@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Marcia Rolfingsmeyer<br />
    Carmel, IN<br />
    <abbr title="Phone">P:</abbr>
    317.902.2039
</address>

<address>
    <strong>Marcia Rolfingsmeyer</strong>   <a href="mailto:Support@example.com">rolfingsmeyer@gmail.com</a><br />
</address>